/*zerando margem e espaçamento*/
*{
    margin: 0px;
    padding: 0px;
}

/* Definições Gerais */
body{
    font-family: 'Times New Roman', Times, Arial;
    background-color: #dcdcdc;
}

main{
    width: 1060px;
    margin: 0 auto;
}

nav{
    height: 10px;
}

header{
    background: #eecbad;
    padding: 40px;
    text-align: center;
    height: auto;
    margin: 1px;
}

footer{
    background-color: #eecbad;
    padding: 20px;
}

p{
    text-indent: 30px;
    padding: 5px;
    font-size: 20px;   
}

h1{
    text-align: center;
    padding: 20px;
    font-size: 35px;
}

h2{
    text-align: center;
    padding: 20px;
    font-size: 25px;  
}
h3{
    text-align: center;
    font-size: 25px;
    border-radius: 10px solid yellow;
}

/*Formatação links*/
a{
    text-decoration: none;
    color: black;
}

a:link, a:visited{
    color: brown;
}

a:hover{
    text-decoration: underline;
 }

nav>span>a{
    font-size: 25px;
    padding: 9px 12px;
}

nav>span>a:hover{
    background: #cdaf95;
   border-radius: 10px 20px ;
}

/*Section conteudo*/
.section-conteudo{
    padding: 20px;
    margin-bottom: 0px;
    background-color: #f8f8ff;
}

/* Imagens */
#img-ban{
    box-shadow: 10px 10px 10px 10px #c2b8b8;
}
#img-cab{
    width: 100%;
    text-align: center;
}

/* Videos */
#v1{
    box-shadow: 10px 10px 10px 10px #c2b8b8;
}

/* Centraliza */
.centraliza{
    text-align: center;
}

/* Sinopse */
#sinopse{
    
    text-decoration: none;
}
